.openMenuButton {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: rgb(255, 255, 255);
  span {
    font-size: 2rem;
  }
  i {
    font-size: 18px;
    cursor: pointer;
  }
}
