.portfolioChart{
    padding:20px;
    margin:20px;
    width:500px;
    background-color: #f2f2f2;
    .header{
        display: flex;
        justify-content: flex-start;
        font-size:2.5rem;

    }
}
