.portfolioChart {
  padding: 8px 0 0 8px;
  margin: 4px;
  width: 320px;
  background-color: #f2f2f2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  .header {
    display: flex;
    justify-content: flex-start;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000000;
  }

  .select {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  // .select::after {
  //   background-image: url("../assets//img//caret-down-solid.svg");
  //   background-repeat: no-repeat;
  //   padding-left: 4px;
  // }
}
